#home{
	float: left;
	width: 100%;
	display: block;

	// 显示主页栏目
	.home-title{
		float: left;
		width: 100%;		
		margin-top: 20px;
		.title-list{
			float: left;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
			li{
				float: left;
				border-left: 1px solid #ccc;
				height: 30px;
				width: 100px;
				text-align: center;
				line-height: 30px;
				cursor: pointer;
				a{
					color:#000;
				}
			}
			li.active,li:hover{
				background-color: #3385ff;
				a{
					color:#fff;
				}
			}
		}
	}

    // 显示栏目内容
    .home-content{
    	float: left;
    	border:1px solid red;
    }
}