<div id="home">
	<div class="home-title">
		<ul class="title-list">
			<li class="active"><a>前端新闻</a></li>
			<li><a>HTML5</a></li>
			<li><a>CSS</a></li>
			<li><a>JavaScript</a></li>
		</ul>
	</div>
	<div class="bb"></div>
	<div class="home-content" ui-view></div>
</div>
	<div class="button gray"><div class="shine"></div>HTML5素材</div>
	<div class="button blue"><div class="shine"></div>jQuery素材</div>
	<div class="button green"><div class="shine"></div>HTML5素材</div><br/>
	<div class="button red"><div class="shine"></div>JS素材</div>
	<div class="button purple"><div class="shine"></div>html5tricks</div>
	<div class="button orange"><div class="shine"></div>HTML5资源教程</div>

<link href="http://keleyi.com/keleyi/phtml/css3/14/keleyi.css" type="text/css" rel="stylesheet" />
<div class="main">
<ul>
<li class="keleyi">
<div class="keleyi-hover">
</div>
<img src="http://keleyi.com/keleyi/phtml/css3/14/keleyi1.jpg" width="188" height="250" alt="柯乐义" />
</li>
<li class="keleyi">
<div class="keleyi-hover">
</div>
<img src="http://keleyi.com/keleyi/phtml/css3/14/keleyi2.jpg" width="188" height="250" alt="柯乐义" />
</li>
</ul>
请使用<a href="http://keleyi.com/a/bjac/g039tue3.htm">支持HTML5的浏览器</a>查看本页 <a href="http://keleyi.com">首页</a> <a href="http://keleyi.com/a/bjad/r9kfvhvt.htm">原文</a> <a href="http://keleyi.com/keleyi/phtml/">特效库</a>
</div>
