#main{
	max-width: 15rem;
	margin: 0 auto;
}

/* 网站头部的web 信息 */
#main .web_info{
	border-bottom: 0.01rem solid #ccc;
	padding: 0.3rem;
	background-color: #fff;

	// 用户信息
	.web_intro{
		float: left;
		width: 2rem;
		height: 2rem;
		.face{
			width: 100%;
			height: 100%;
			background: url("./face.jpg") no-repeat;
			background-size: 100%;
			border-radius: 50%;
			margin: 0 auto;
			cursor: pointer;
			transition:transform 1s ease;				
		}
		.face:hover{
			transform:rotate(360deg);
		}
	}

	// 菜单
	.web_menu{
		margin-left: 2rem;
	
		.user{
			display: flex;
			flex-flow: column;	
			.name{
				font-size: 0.5rem;
				text-align: center;
			}
			.desc{
				font-size: 0.26rem;
				text-align: right;
				color:#ea6f5a;
				margin-top: 0.2rem;
			}
		}

		.menu{
			display: flex;
			flex-flow:row;
			margin-top: 0.2rem;
			margin-left: -2.05rem;
			li{			
				width: 25%;
				text-align: center;
				a{
					padding: 0px 0.02rem;
					color:#000;
					font-size: 0.36rem;
				}			
			}
			li.active{
				a{
					color: rgb(254, 187, 80);
				}
			}
		}
		
	}
}

/* 网站的web 内容 */
#main .web_content{
	padding: 0.2rem;
}