<div id="main">
	<div class="web_info">
		<div class="web_intro clearfix">
			<div class="face" ui-sref="app.home"></div>
		</div>
		<div class="web_menu">
			<div class="user">
				<span class="name">Topthinking</span>
				<span class="desc">一名从后端转前端的全栈开发者</span>
			</div>
			<ul class="menu">
				<li ui-sref-active="active">
					<a ui-sref="app.home">主页</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="app.content">内容</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="app.project">项目</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="app.bbs">社区</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="web_content">
		<div ui-view></div>
	</div>
</div>