<div id="home_edit">
<h2>修改名字--控制器</h2>
名字&nbsp;&nbsp;<input type="text" ng-model="vm.name">
<span>{{vm.name}}</span>
<br/><br/>
<button ng-click="vm.change_name()">确认提交</button>
<button ng-click="vm.del_name()">删除名字</button>
<small>{{vm.text}}</small>

<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="{{vm.slide1}}" alt="First slide">
		</div>
		<div class="item">
			<img src="{{vm.slide2}}" alt="Second slide">
		</div>
		<div class="item">
			<img src="{{vm.slide3}}" alt="Third slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" 
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" 
	   data-slide="next">&rsaquo;</a>
</div> 
</div>